body {
    background: #FFFFFF;
    min-width: 0;
}
#ci_header, #ci_footer {
    display: none;
}
.product-main-info h1.mainbox-title, .in-stock, .mainbox-title span{
    color: #333;
}
.header, .footer-menu div, .payment-icon, .qty, .button-submit-big, .sidebox-wrapper, .sort-container {
    display: none;
}
.central-column, .container-left .central-column {
    margin: 0;
    overflow: visible;
}
.helper-container {
    width: 700px;
}
.container {
    width: auto;
    border: 0;
}
.product-image {
    display: block;
    float: none;
    text-align: left;
}